<div fxLayout="column" fxLayoutGap="10px">
  <mat-table id="heroes-table" [dataSource]="dataSource" matSort class="mat-elevation-z8" fxFlex="100">
    <ng-container matColumnDef="{{tableColumns.NAME}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        <div class="no-chart-column">Name</div>
      </mat-header-cell>
      <mat-cell class="clickable" (click)="showHeroData(hero)" *matCellDef="let hero">{{hero.nameLabel}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="{{tableColumns.GENDER}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        <div fxLayout="column" fxFlexFill>
          <div
            class="image-container"
            (click)="openChartModal(tableColumns.GENDER)"
            matTooltip="You can click here"
            matTooltipPosition="above"
          >
            <img alt="chart" class="chart-image" src="/assets/images/pie.png" />
          </div>
          <div>Gender</div>
        </div>
      </mat-header-cell>
      <mat-cell class="clickable" (click)="showHeroData(hero)" *matCellDef="let hero">{{hero.genderLabel}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="{{tableColumns.SKILL}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by gender">
        <div fxLayout="column" fxFlexFill>
          <div
            class="image-container bar"
            (click)="openChartModal(tableColumns.SKILL)"
            matTooltip="You can click here"
            matTooltipPosition="above"
          >
            <img alt="chart" class="chart-image" src="/assets/images/bar.png" />
          </div>
          <div>Skills</div>
        </div>
      </mat-header-cell>
      <mat-cell class="clickable" (click)="showHeroData(hero)" *matCellDef="let hero">{{hero.skillsLabel}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="{{tableColumns.OCCUPATION}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by occupation">
        <div fxLayout="column" fxFlexFill>
          <div
            class="image-container bar"
            (click)="openChartModal(tableColumns.OCCUPATION)"
            matTooltip="You can click here"
            matTooltipPosition="above"
          >
            <img alt="chart" class="chart-image" src="/assets/images/bar.png" />
          </div>
          <div>Occupation</div>
        </div>
      </mat-header-cell>
      <mat-cell class="clickable" (click)="showHeroData(hero)" *matCellDef="let hero">{{hero.occupationLabel}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="{{tableColumns.CITIZENSHIP}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by citizenship">
        <div fxLayout="column" fxFlexFill>
          <div
            class="image-container bar"
            (click)="openChartModal(tableColumns.CITIZENSHIP)"
            matTooltip="You can click here"
            matTooltipPosition="above"
          >
            <img alt="chart" class="chart-image" src="/assets/images/bar.png" />
          </div>
          <div>Citizenship</div>
        </div>
      </mat-header-cell>
      <mat-cell class="clickable" (click)="showHeroData(hero)" *matCellDef="let hero">{{hero.citizenshipLabel}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="{{tableColumns.MEMBER_OF}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by membership">
        <div fxLayout="column" fxFlexFill>
          <div
            class="image-container bar"
            (click)="openChartModal(tableColumns.MEMBER_OF)"
            matTooltip="You can click here"
            matTooltipPosition="above"
          >
            <img alt="chart" class="chart-image" src="/assets/images/bar.png" />
          </div>
          <div>Membership</div>
        </div>
      </mat-header-cell>
      <mat-cell class="clickable" (click)="showHeroData(hero)" *matCellDef="let hero">{{hero.memberOfLabel}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="{{tableColumns.CREATOR}}">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by creator">
        <div fxLayout="column" fxFlexFill fxFlexAlign="center center">
          <div
            class="image-container bar"
            (click)="openChartModal(tableColumns.CREATOR)"
            matTooltip="You can click here"
            matTooltipPosition="above"
          >
            <img alt="chart" class="chart-image" src="/assets/images/bar.png" />
          </div>
          <div>Creator</div>
        </div>
      </mat-header-cell>
      <mat-cell class="clickable" (click)="showHeroData(hero)" *matCellDef="let hero">{{hero.creatorLabel}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="{{tableColumns.ACTIONS}}">
      <mat-header-cell *matHeaderCellDef>
        <div class="no-chart-column">Actions</div>
      </mat-header-cell>
      <mat-cell *matCellDef="let hero">
        <div fxLayout="row" fxFlexFill fxLayoutGap="25px" fxFlexAlign="center end">
          <mat-icon class="clickable" (click)="startUpdateAction(hero)">edit</mat-icon>
          <mat-icon class="clickable" (click)="delete(hero)">delete</mat-icon>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSize]="pagination" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
</div>
