.mat-header-row {
  height: 100px !important;
}
.image-container {
  width: 80px;
  height: 80px;
  .chart-image {
    width: 60px;
    padding: 10px;
  }
}

.bar {
  margin-top: 20px;
  height: 62px;
}
.no-chart-column {
  margin-top: 80px;
}
