<div *ngIf="data" fxLayout="column" fxFlexAlign="center center">
  <form [formGroup]="heroGroupForm">
    <div fxLayout="row" fxLayoutGap="10px">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="nameLabel" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Occupation</mat-label>
        <input matInput formControlName="occupationLabel" />
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="10px" fxFlexAlign="center center ">
      <mat-form-field appearance="fill">
        <mat-label>Citizenship</mat-label>
        <input matInput formControlName="citizenshipLabel" />
      </mat-form-field>
      <mat-radio-group fxLayout="column" fxLayoutGap="5px" aria-label="Gender" formControlName="genderLabel">
        <mat-radio-button class="hero-radio-button" value="male">Male</mat-radio-button>
        <mat-radio-button class="hero-radio-button" value="female">Female</mat-radio-button>
      </mat-radio-group>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
      <mat-form-field appearance="fill">
        <mat-label>Skills</mat-label>
        <input matInput formControlName="skillsLabel" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Membership</mat-label>
        <input matInput formControlName="memberOfLabel" />
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayoutGap="10px">
      <mat-form-field appearance="fill">
        <mat-label>Creator</mat-label>
        <input matInput formControlName="creatorLabel" />
      </mat-form-field>
    </div>
  </form>
</div>
