<div class="custom-chart" *ngIf="amount">
  <ng-container *ngIf="amount <= 5; else barchart">
    <pie-chart [pieData]="results"></pie-chart>
  </ng-container>
  <ng-template #barchart>
    <bar-chart [barData]="results"></bar-chart>
  </ng-template>
</div>
