.d3-chart {
  width: 100%;
  height: 400px;
  font: 10px sans-serif;
}

.d3-chart .axis path,
.d3-chart .axis line {
  stroke: #999;
}

.bar:hover {
  fill: #0091cb;
}

.d3-chart .axis text {
  fill: #999;
}

.x.axis path {
  display: none;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: '\25BC';
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
