<h2 mat-dialog-title>Cofirmation dialog</h2>
<mat-dialog-content>
  <mat-card class="heroes-list-container">
    <p>{{data.confirmationMessage}}</p>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="{value: true, heroGuid: data.heroGuid}" cdkFocusInitial>Confirm</button>
</mat-dialog-actions>
