<div fxLayout="column" fxFlexAlign="center center" fxLayoutGap="16px">
  <div class="mat-title center-text">
    <h2>Marvel superheroes</h2>
    <p>These are the statistics of the superheroes</p>
  </div>
  <div class="main-content">
    <search [heroes]="heroes" (filterNamesFromList)="filterNamesOnTable($event)"></search>
    <heroes-table
      [pageSize]="pageSize"
      [heroes]="displayHeroes"
      (deleteHero)="deleteHero($event)"
      (openUpdateModal)="updateHero($event)"
    ></heroes-table>
  </div>
  <div fxFlexAlign="end" fxLayoutGap="15px">
    <button mat-raised-button color="primary" (click)="createHero()">Create hero</button>
  </div>
</div>
