<div fxLayout="column" fxFlexFill fxFlexAlign="center center" fxLayoutGap="16px">
  <div class="hheader-containereader-container">
    <app-header></app-header>
  </div>
  <div class="content">
    <dashboard></dashboard>
  </div>
  <div class="footer-container">
    <app-footer></app-footer>
  </div>
</div>

<router-outlet></router-outlet>
