<h2 mat-dialog-title>Create new hero</h2>
<mat-dialog-content>
  <hero-form [data]="data"> </hero-form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</mat-dialog-actions>
