<div fxLayout="column" fxFlexAlign="start center" fxFlexFill>
  <h2 mat-dialog-title fxFlex="5">{{label}}</h2>
  <mat-dialog-content fxFlex>
    <div class="chart-container">
      <custom-chart [chartData]="chartData"></custom-chart>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end" fxFlex="5">
    <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
  </mat-dialog-actions>
</div>
