<footer class="app-footer" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
  <a href="https://www.linkedin.com/in/roberthchirinos/" target="_blank" rel="noopener"> Roberth Chirinos </a>
</footer>
