<mat-form-field class="search" appearance="fill">
  <mat-label>Marvel heroes</mat-label>
  <mat-chip-list #chipList aria-label="Heroes selection">
    <mat-chip *ngFor="let hero of heroesNames" [selectable]="selectable" [removable]="removable" (removed)="remove(hero)">
      {{hero}}
      <button matChipRemove *ngIf="removable">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>

    <input
      placeholder="Add your heroes..."
      #heroInput
      [formControl]="heroCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let hero of displayHeroes | async" [value]="hero"> {{hero}} </mat-option>
  </mat-autocomplete>
</mat-form-field>
<div fxLayout="row">
  <button mat-button color="primary" (click)="clearFilterData()">clear filter</button>
</div>
