<h2 mat-dialog-title>Marvel superhero: {{hero.nameLabel}}</h2>
<mat-dialog-content>
  <mat-card class="heroes-list-container">
    <mat-list>
      <mat-list-item> Name: {{ hero.nameLabel}}</mat-list-item>
      <mat-list-item> Occupation: {{ hero.occupationLabel}}</mat-list-item>
      <mat-list-item> Gender: {{ hero.genderLabel}}</mat-list-item>
      <mat-list-item> Citizenship: {{ hero.citizenshipLabel}}</mat-list-item>
      <mat-list-item> Skills: {{ hero.skillsLabel}}</mat-list-item>
      <mat-list-item> Membership: {{ hero.memberOfLabel}}</mat-list-item>
      <mat-list-item> Creator: {{ hero.creatorLabel}}</mat-list-item>
    </mat-list>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</mat-dialog-actions>
